<footer class="section footer bgdarkblue">
    <div class="cs-page-width">
        <div class="footer-lists">
            <div class="footer-list-item">
                <h5>Contact Us</h5>
                <ul class="item-lists">
                    <li><a>US Sales: +1.800.633.0738</a></li>
                    <li><a>Global Contacts</a></li>
                    <li><a>Directory</a></li>
                    <li><a>Subscribe to Emails</a></li>
                </ul>
            </div>
            <div class="footer-list-item">
                <h5>About Oracle</h5>
                <ul class="item-lists">
                    <li><a>Careers</a></li>
                    <li><a>Company Information</a></li>
                    <li><a>Social Responsibility</a></li>
                    <li><a>Communities</a></li>
                </ul>
            </div>
            <div class="footer-list-item">
                <h5>Downloads and Trials</h5>
                <ul class="item-lists">
                    <li><a>Java Runtime Download</a></li>
                    <li><a>Java for Developers</a></li>
                    <li><a>Software Downloads</a></li>
                    <li><a>Try Oracle Cloud</a></li>
                </ul>
            </div>
            <div class="footer-list-item">
                <h5>News and Events</h5>
                <ul class="item-lists">
                    <li><a>Acquisitions</a></li>
                    <li><a>Blogs</a></li>
                    <li><a>Events</a></li>
                    <li><a>Newsroom</a></li>
                </ul>
            </div>
        </div>
        <hr class="seperator">
    </div>
</footer>