<div class="section home-slide">
    <swiper [config]="config">
        <div>
            <img data-swiper-parallax="-300" src="https://www.oracle.com/a/ocom/img/hp10p4-larry-soar-announcement.jpg" alt="Random first slide">
            <div class="carousel-caption" data-swiper-parallax="-200">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div>
            <img data-swiper-parallax="-300" src="https://www.oracle.com/a/ocom/img/hp10p4-idc-report.jpg" alt="Random first slide">
            <div class="carousel-caption" data-swiper-parallax="-200">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div>
            <img data-swiper-parallax="-300" src="https://www.oracle.com/a/ocom/img/hp10p4-autonomous-paas.jpg" alt="Random first slide">
            <div class="carousel-caption" data-swiper-parallax="-200">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
        <div>

            <img data-swiper-parallax="-300" src="https://www.oracle.com/a/ocom/img/hp10p3-java10.jpg" alt="Random first slide">
            <div class="carousel-caption" data-swiper-parallax="-200">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </swiper>
</div>
<div class="section bgdarkblue">
    <div class="cs-page-width">
        <div class="d-flex align-items-center justify-content-between">
            <!-- <h3 class="l-title">Top Actions</h3> -->
            <ul class="menu-bar-lists">
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                info
                            </i>
                        </div>
                        <div class="text">
                            About
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                supervisor_account
                            </i>
                        </div>
                        <div class="text">
                            Partnerships
                        </div>
                    </a>
                </li>

                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                cloud_queue
                            </i>
                        </div>
                        <div class="text">
                            Ditto
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                cloud_queue
                            </i>
                        </div>
                        <div class="text">
                            Services
                        </div>
                    </a>
                </li>
            </ul>
            <!-- <a class="more-items">
                    More
                <i class="material-icons">
                    keyboard_arrow_down
                </i>
            </a> -->
        </div>
    </div>
</div>
<!-- <div class="section bglightgrey p-section">
    <div class="cs-page-width">
        <div class="row" @explainerAnim>
            <div class="col-md-4 ani-col">
                <div class="card ani-cart box-shadow setblue">
                    <div class="card-img-top">
                        <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-idc-machine-learning-report.jpg" data-holder-rendered="true">
                    </div>
                    <div class="card-body bcbackgroundcolor">
                        <h4 class="bctxt">AnottA 330ML</h4>
                        <p class="card-text">
                            Developers can support range of devices, services in Oracle Mobile Cloud, earning leadership status in analyst ranking.
                        </p>
                    </div>
                    <div class="abs-card-body">
                        <button type="button" class="btn cs-btn">
                            Buy Now
                            <i class="material-icons">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ani-col">
                <div class="card ani-cart box-shadow setburgundy">
                    <div class="card-img-top">
                        <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-autonomous-db.jpg" data-holder-rendered="true">
                    </div>
                    <div class="card-body bcbackgroundcolor">
                        <h4 class="bctxt">AnottA 500ML</h4>
                        <p class="card-text">
                            Infographic: How to reduce costs, accelerate innovation, and retain customizations.
                        </p>
                    </div>
                    <div class="abs-card-body">
                        <button type="button" class="btn cs-btn">
                            Buy Now
                            <i class="material-icons">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ani-col">
                <div class="card ani-cart box-shadow setdarkblue">
                    <div class="card-img-top">
                        <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-451-research-cloud-applications.jpg" data-holder-rendered="true">
                    </div>
                    <div class="card-body bcbackgroundcolor">
                        <h4 class="bctxt">AnottA 1500ML</h4>
                        <p class="card-text">
                            Find out how you can simplify integration in the cloud and monetize with API management.
                        </p>
                    </div>
                    <div class="abs-card-body">
                        <button type="button" class="btn cs-btn">
                            Buy Now
                            <i class="material-icons">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->

<div class="container-fluid cs-page-width">
    <ngb-tabset type="pills" class="my-cs-tab">
        <ngb-tab title="Cloud">
            <ng-template ngbTabContent>
                <div class="row cs-tab-content" @explainerAnim>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setblue">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-ovum-oracle-report.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Mobile App Dev Leaders</h4>
                                <p class="card-text">
                                    Developers can support range of devices, services in Oracle Mobile Cloud, earning leadership status in analyst ranking.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Review mobile app dev ranking
                                    <i class="material-icons">
                                        arrow_forward
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setburgundy">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-sap-to-oracle-cloud.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Move SAP Apps to Oracle Cloud</h4>
                                <p class="card-text">
                                    Infographic: How to reduce costs, accelerate innovation, and retain customizations.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Enhance SAP Apps
                                    <i class="material-icons">
                                        arrow_forward
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setdarkblue">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-cloud-integration-api-dummies.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Cloud Integration, API Management</h4>
                                <p class="card-text">
                                    Find out how you can simplify integration in the cloud and monetize with API management.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Read Dummies book
                                    <i class="material-icons">
                                        arrow_forward
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Event">
            <ng-template ngbTabContent>
                <div class="row cs-tab-content" @explainerAnim>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setblue">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-oow-photo-woman.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Mobile App Dev Leaders</h4>
                                <p class="card-text">
                                    Developers can support range of devices, services in Oracle Mobile Cloud, earning leadership status in analyst ranking.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Review mobile app dev ranking
                                        <i class="material-icons">
                                            arrow_forward
                                        </i>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setburgundy">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-autonomous-db.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Move SAP Apps to Oracle Cloud</h4>
                                <p class="card-text">
                                    Infographic: How to reduce costs, accelerate innovation, and retain customizations.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Enhance SAP Apps
                                            <i class="material-icons">
                                                arrow_forward
                                            </i>
                                        </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setdarkblue">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-oracle-code-one.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Cloud Integration, API Management</h4>
                                <p class="card-text">
                                    Find out how you can simplify integration in the cloud and monetize with API management.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Read Dummies book
                                            <i class="material-icons">
                                                arrow_forward
                                            </i>
                                        </button>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="What's New">
            <ng-template ngbTabContent>
                <div class="row cs-tab-content" @explainerAnim>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setblue">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-idc-machine-learning-report.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Mobile App Dev Leaders</h4>
                                <p class="card-text">
                                    Developers can support range of devices, services in Oracle Mobile Cloud, earning leadership status in analyst ranking.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Review mobile app dev ranking
                                            <i class="material-icons">
                                                arrow_forward
                                            </i>
                                        </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setburgundy">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-autonomous-db.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Move SAP Apps to Oracle Cloud</h4>
                                <p class="card-text">
                                    Infographic: How to reduce costs, accelerate innovation, and retain customizations.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Enhance SAP Apps
                                            <i class="material-icons">
                                                arrow_forward
                                            </i>
                                        </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setdarkblue">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-451-research-cloud-applications.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Cloud Integration, API Management</h4>
                                <p class="card-text">
                                    Find out how you can simplify integration in the cloud and monetize with API management.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Read Dummies book
                                            <i class="material-icons">
                                                arrow_forward
                                            </i>
                                        </button>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Customer Success">
            <ng-template ngbTabContent>
                <div class="row cs-tab-content" @explainerAnim>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setblue">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-ovum-oracle-report.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Mobile App Dev Leaders</h4>
                                <p class="card-text">
                                    Developers can support range of devices, services in Oracle Mobile Cloud, earning leadership status in analyst ranking.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Review mobile app dev ranking
                                            <i class="material-icons">
                                                arrow_forward
                                            </i>
                                        </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setburgundy">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-sap-to-oracle-cloud.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Move SAP Apps to Oracle Cloud</h4>
                                <p class="card-text">
                                    Infographic: How to reduce costs, accelerate innovation, and retain customizations.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Enhance SAP Apps
                                            <i class="material-icons">
                                                arrow_forward
                                            </i>
                                        </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ani-col">
                        <div class="card ani-cart box-shadow setdarkblue">
                            <div class="card-img-top">
                                <img class="img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/hp11-cloud-integration-api-dummies.jpg" data-holder-rendered="true">
                            </div>
                            <div class="card-body bcbackgroundcolor">
                                <h4 class="bctxt">Cloud Integration, API Management</h4>
                                <p class="card-text">
                                    Find out how you can simplify integration in the cloud and monetize with API management.
                                </p>
                            </div>
                            <div class="abs-card-body">
                                <button type="button" class="btn cs-btn">Read Dummies book
                                            <i class="material-icons">
                                                arrow_forward
                                            </i>
                                        </button>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<div class="section bgblue">
    <div class="cs-page-width">
        <header class="section-header">
            <h4 class="sub">Experience Oracle Cloud</h4>
            <p>Get up to 3,500 free hours</p>
        </header>
        <div class="d-flex align-items-center justify-content-center obttns">
            <div class="bttn-blue obttn5 mr-4">
                <a href="">Try for free <i class="material-icons">
                        arrow_forward
                        </i></a>
            </div>
            <div class="bttn-blue obttn5">
                <a href="">Oracle Cloud documentation <i class="material-icons">
                        arrow_forward
                        </i></a>
            </div>
        </div>
    </div>
</div>

<div class="section bgwhite">
    <div class="cs-page-width">
        <header class="section-header">
            <h3 class="sub mb-5">Choose Your Area of Interest</h3>
        </header>

        <div class="d-flex justify-content-center">
            <ul class="menu-bar-lists">
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                cloud_queue
                            </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                cloud_queue
                            </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                cloud_queue
                            </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                cloud_queue
                            </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                cloud_queue
                            </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                cloud_queue
                            </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="section bglightgrey">
    <div class="cs-page-width">
        <header class="section-header">
            <h3 class="sub mb-5">More About AnottA</h3>
        </header>
        <div class="row" @explainerAnim>

            <div class="col-md-3 ani-col">
                <div class="card ani-card-scale mb-3">
                    <img class="card-img-top" data-src="" style=" width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/cb50-oracle-soar.jpg" data-holder-rendered="true">
                    <div class="card-body card-body-w2 bgblue" style="height: 82px;">
                        <h3>Accelerate Cloud Migration</h3>
                        <i class="material-icons">arrow_forward</i>
                    </div>
                    <div class="card-body card-body-w3">
                        <p>Product news, event listings for database, systems, Java, and more. Subscribe today.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ani-col">
                <div class="card ani-card-scale mb-3">
                    <img class="card-img-top" data-src="" style=" width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/cb50-internet-intelligence.jpg" data-holder-rendered="true">
                    <div class="card-body card-body-w2 bggreen" style="height: 82px;">
                        <h3>Internet Intelligence Map</h3>
                        <i class="material-icons">arrow_forward</i>
                    </div>
                    <div class="card-body card-body-w3">
                        <p>Product news, event listings for database, systems, Java, and more. Subscribe today.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ani-col">
                <div class="card ani-card-scale mb-3">
                    <img class="card-img-top" data-src="" style=" width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/cb50-blockchain-myths.jpg" data-holder-rendered="true">
                    <div class="card-body card-body-w2 bgdarkblue" style="height: 82px;">
                        <h3>Bitcoin, Blockchain Myths Debunked</h3>
                        <i class="material-icons">arrow_forward</i>
                    </div>
                    <div class="card-body card-body-w3">
                        <p>Product news, event listings for database, systems, Java, and more. Subscribe today.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ani-col">
                <div class="card ani-card-scale mb-3">
                    <img class="card-img-top" data-src="" style="width: 100%; display: block;" src="https://www.oracle.com/a/ocom/img/cb50-oracle-careers.jpg" data-holder-rendered="true">
                    <div class="card-body card-body-w2 bgburgundy" style="height: 82px;">
                        <h3>News for Developers</h3>
                        <i class="material-icons">arrow_forward</i>
                    </div>
                    <div class="card-body card-body-w3">
                        <p>Product news, event listings for database, systems, Java, and more. Subscribe today.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bgblue">
    <div class="cs-page-width">
        <div class="d-flex justify-content-center">
            <ul class="menu-bar-lists">
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                    cloud_queue
                                </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                    cloud_queue
                                </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                    cloud_queue
                                </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                    cloud_queue
                                </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>
                <li class="menu-bar-item">
                    <a>
                        <div class="icon-img">
                            <i class="material-icons">
                                    cloud_queue
                                </i>
                        </div>
                        <div class="text">
                            Try Cloud Free
                        </div>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</div>