<header class="header">
    <nav class="navbar navbar-expand-md cs-page-width">
        <a class="navbar-brand" href="#">AnottA</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- <a class="t-menu">
                <i class="material-icons">menu</i>
                <span>Menu</span>
            </a> -->
            <!-- <form class="form-inline mr-auto ">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                <button class="btn sc-btn" type="submit"><i class="material-icons">search</i></button>
            </form> -->
            <li class="form-inline mr-auto">
                <a class="nav-link top-nav-link" href="#">Products</a>
            </li>
            <ul class="navbar-nav ">

                <li class="nav-item ">
                    <a class="nav-link ic-icon ic-signin top-nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ic-icon top-nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ic-icon ic-call top-nav-link" href="#">Call</a>
                </li>
            </ul>
        </div>
    </nav>
</header>